@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --bg-gray: #ddd;
    --text-light-gray: #aaa;
    --text-gray: #4a4a4a;
    --color-primary: #4D41C0;
    --white: #fff;
    --star-yellow: #FFBB3A; 
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: var(--bg-gray);    
}

h1 h3 {
    margin-bottom: 0;
}

header {
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 24px;
    font-weight: 700;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

.movie-contact-container {
    display: flex;
    align-items: center;
}

.movie-contact-container img {
    margin-right: 10px;
}

#movie-card-list {
    padding: 0 10px;
}

.movie-card {
    width: 100%;        
}

.movie-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.movie-card-description {
    padding: 15px 20px 20px 20px;
    border-radius: 0 0 8px 8px;
    background-color: var(--white);    
    height: 202px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.movie-card-description h3 {
    font-size: 14px;
    font-weight: 700;    
    text-align: center;
}

.movie-card-description-bottom {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-card-description-bottom h4 {
    margin: 0; 
    font-size: 16px;
    font-weight: 700;    
    color: var(--star-yellow);

}

.movie-card-description-bottom p {
    margin-bottom: 10px; 
    font-size: 12px;
    font-weight: 400;    
    color: var(--text-light-gray);

}

.movie-card-description-bottom img {
    width: 22px;
}

.movie-btn, .movie-btn:hover {
    width: 180px;
    height: 40px;

    background-color: var(--color-primary);
    color: var(--white);

    font-size: 14px;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    border: 0;
}

.movie-pagination-container {
    padding: 15px 0;
    display: flex;    
    justify-content: center;
}

.movie-pagination-box {    
    width: 180px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.movie-pagination-box p {
    margin: 0;
    font-size: 12px;
}

.movie-pagination-box button {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-primary);
    border-radius: 4px;      
    display: flex;
    justify-content: center; 
    align-items: center;
}

.movie-pagination-box img {
    filter: brightness(0) invert(22%) sepia(29%) saturate(5247%) hue-rotate(235deg) contrast(89%);    
}

.movie-pagination-box button:disabled {    
    border: 1px solid var(--text-light-gray);    
}

.movie-pagination-box button:disabled img {
    filter: unset;
}

.movie-flip-horizontal {
    transform: rotate(180deg);
}

/* Formulário */

.movie-form-container {
    padding: 40px 0;
    max-width: 480px;
    font-weight: 400;
}

.movie-form-description {
    background-color: var(--white);
    padding: 20px;
    border-radius: 0 0 8px 8px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-form-description h3 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}

.movie-form {
    width: 100%;
}

.movie-form-group {
    margin-bottom: 20px;
}

.movie-form-group label {
    font-size: 12px;
    color: var(--text-light-gray);
}

.movie-form-btn-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
