<header class=" fixed-top">
    <nav class="container ">
            <div class="movie-nav-content">

                <a class="navbar-brand" [routerLink]="['/']" tooltip="Página inicial">
                    <div class="movie-brand-container">
                        <img 
                            width="40"
                            alt="Angular Logo"
                            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
                        <span class="movie-brand-link"><h1>Movie</h1></span>
                        
                    </div>
                </a>
                <a href="https://github.com/youssfbr/movie2022" target="_blank" rel="noreferrer"  tooltip="Para meu GitHub">
                    <div class="movie-contact-container">
                        <img src="assets/img/github.svg" alt="github pic" />
                        <span class="movie-contact-link">/youssfbr</span>                    
                    </div>
                </a>
            </div>         
        
    </nav>

</header>


