@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #4D41C0;
  --white: #fff;
  --bg-gray: #ddd;
  --text-gray: #4a4a4a;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
}

html, body {
    background-color: var(--bg-gray);      
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

.main-container {
  padding: 60px 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}